@import "../components/Login/LoginForm/LoginForm.style";
@import "../components/Navbar/Navbar.style";
@import "src/styles/todolist";
@import "../components/Task/Task.style";
@import "../components/Task/TaskModal/TaskModal.style";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}