@import "../components/Login/LoginForm/LoginForm.style";
@import "../components/Navbar/Navbar.style";
@import "src/styles/todolist";
@import "src/styles/task";
@import "src/styles/userList";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}